{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="{% static 'favicon.ico' %}">
  <title>Yeh hai aam zindagi</title>
  <link rel="stylesheet" href="{% static 'neon.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
  <div class="jumbotron bg-transparent mb-0 radius-0">
    <div class="container">
      <div class="row">
        <div class="col-xl-6">
          <h1 class="display-2">Blow M<span class="vim-caret">e</span></h1>
          <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Well done!</h4>
            You successfully read this important alert message.
            <a href="#!" class="alert-link">It contains a link and confusion.</a>
          </div>
          <form id="Form">
            {% csrf_token %}
            <label>Password</label>
            <input class="form-control form-control-lg" type="password" value="" id="example-password-input"
            placeholder="The Comments Will Open This" name="password">
            <div class="text-mono"> 
              <button type="button" id="wrongButton" class="btn btn-success btn-shadow px-3 my-2 ml-0 text-left">
                abracadabra
              </button>
              <button type="submit" class="btn btn-danger btn-shadow px-3 my-2 ml-0 ml-sm-1 text-left">
                khul ja sim sim
              </button>
            </div>
        </form>
          <br><br><br>
          <div class="text-darkgrey text-mono my-2 text-center">Sorry peeps I can't help you</div>
          <span class="hal-9000 d-block mx-auto mb-4 mt-3"></span>
        </div>
      </div>
    </div>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="{% static 'jquery.js' %}"></script>  
  <script>
    $('#Form').on('submit', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'post',
            data: $(this).serialize(),
            url: "{% url 'authenticate' %}",
            success: function (json) {
                console.log('Success');
                window.location.href = "{% url 'question' %}";
            },
            error: function (json) {
                console.log('Error');
                alert("Entry Denied!\n The password is incorrect.")
            },
        });
    });
</script>
<script>
    $('#wrongButton').on('click',function(e){
        alert("Mein hu ki nahi?")
    })
</script>
</body>
</html>
