<!DOCTYPE html>
<html>
    <head>
        <title>Quiz</title>
    </head>
    <body>
        <form id="Form">
            {% csrf_token %}
            <label>Password</label>
            <input type="password" name="password">
            <button type="submit">Get in</button>
        </form>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script>
            $('#Form').on('submit', function(e){
                e.preventDefault();
                $.ajax({
                    type:'post',
                    data:$(this).serialize(),
                    url: "{% url 'authenticate' %}",
                    success: function(json){
                        console.log('Success');
                        window.location.href = "{% url 'question' %}";
                    },
                    error: function(json){
                        console.log('Error');
                    },
                });
            });
        </script>
    </body>
</html>